<div class="container">
	<center><h1>My Crawler</h1></center>
	<p>
    <div class = "row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product link</th>
            <th scope="col">Product name</th>
            <th scope="col">Product image link 1</th>
            <th scope="col">Original Price</th>
            <th scope="col">Sale Price</th>
            <th scope="col">Exchange Rate</th>
            <th scope="col">VND Price</th>

          </tr>
        </thead>
        <tbody>
          
            <% @products.each_with_index do |product, index| %>
            <tr>
              <th scope="row"><%= index %>
                <span><form action="">
                  <input type="checkbox" name="vehicle" value="Bike"><br></span>
              </th>
              <td><%= product['link'] %></td>
              <td><%= product['name'].to_s %></td>
              <td><%= image_tag product['image_1'].to_s %></td>
              <td><%= product['origin_price'].to_s %> ¥</td>
              <td><%= product['sale_price'].to_s %> ¥</td>
              <td><%= @jpy_rate.to_f %></td>
              <td><font color="red"><%= product['vnd_price'].to_s %></font> VND</td>
               </tr>
            <% end %>
         
        </tbody>
      </table>
    </div>
    
    
  </p>
  <center><%= link_to "Post selected items to your page", post_to_facebook_path(products: @products), :method=> "post"%></center>
</div>